@model mvc_ogrenci_kayit.Models.Entity.TBLAKA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Akademisyen Sil</h2>

<h3>Gerçekten Silmek İstiyor Musunuz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AkaAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AkaAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AkaSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AkaSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AkaBolum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AkaBolum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger" /> |
            @Html.ActionLink("Akademisyen Listesine Dön", "Index")
        </div>
    }
</div>
